::-moz-selection {
  color: white;
  background-color: transparent;
}

::selection {
  color: white;
  background-color: transparent;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -wbkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
  font-style: normal;
}

html, body {
  height: 100%;
  overflow: hidden;
}

html{
  font-size: 14px;
}

@media screen and (min-width: 640px) {
  html {
    font-size: 2.5vw;
  }
}

body {
  position: relative;
  font-family: Pretendard, BlinkMacSystemFont, -apple-system, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.8;
  word-break: keep-all;
  color: grey;
  background-color: black;
  cursor: default;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  -webkit-animation: fade 1s infinite linear;
  animation: fade 1s infinite linear;
}

nav {
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  align-items: stretch;
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
  background-color: black;
  box-shadow: 0 -1rem 1rem black;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  padding: 0 1rem 1rem;
}

nav li:not(:last-child) {
  margin-right: .25em;
}

nav li:not(:last-child)::after {
  content: ",";
}

nav li:last-child::after {
  content: "...";
}

nav a {
  text-align: center;
  animation: none;
  opacity: .5;
  transition: opacity .5s;
}

nav a:hover {
  opacity: 1;
}

section {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 1rem;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  outline: 0;
  font-size: 70%;

}

section::-webkit-scrollbar {
  display: none;
}

section::after {
  content: "";
  display: block;
  clear: both;
}

section:not(:first-of-type) {
  display: none;
}

section:target {
  display: block;
}

section p a {
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

section mark {
  color: white;
  background-color: transparent;
  -webkit-animation: fade 2s;
  animation: fade 2s;
}

section figure {
  position: relative;
  color: white;
}

section > figure {
  float: right;
  position: relative;
  width: calc(50% - .5rem);
  margin-top: .25rem;
  margin-bottom: .5rem;
  margin-left: 1rem;
  -webkit-animation: fade 2s;
  animation: fade 2s;
}

@media screen and (min-width: 428px) {
  section > figure {
    width: calc(100% / 3 - .5rem);
  }
}

section figure figure:not(:last-child) {
  margin-bottom: 1rem;
}

section figure figure img {
  display: block;
  width: 100%;
}

section figure figure img:not(:last-of-type) {
  margin-bottom: .5rem;
}

section figure figure > div {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
}

section figure figure > div iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

section figcaption {
  margin-top: .375rem;
  font-size: .75rem;
}

section figcaption a {
  animation-direction: alternate-reverse;
}

@-webkit-keyframes fade {
  0% {
    opacity: .25;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: .25;
  }
  100% {
    opacity: 1;
  }
}
